<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat+Alternates:wght@800&display=swap" as="style">
    <link rel="preload" href="/assets/main.css" as="style">

    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat+Alternates:wght@800&display=swap">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hey I'm Jaye, a full stack developer from the Philippines!"/>
    <meta name="theme-color" content="#fff">
  </head>
  <body>
    {{ content | safe }}

    {% if env.isProd %}
      <script async
        src="https://www.googletagmanager.com/gtag/js?id={{ env.tracking.gtag }}">
      </script>
      <script defer data-domain="jayehernandez.com" src="https://plausible.io/js/plausible.js"></script>
      <script async>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ env.tracking.gtag }}');
      </script>
    {% endif %}
  </body>
</html>
