<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300,700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{ content | safe }}
    <script src="/assets/main.js"></script>
  </body>
</html>