<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{ content | safe }}
    <script src="/assets/main.js"></script>
  </body>
</html>