---
title: Jaye Hernandez
layout: layouts/base.njk
---
<div class="container-inner mx-auto flex h-screen justify-center">
  <div class="flex flex-col justify-center items-center text-center">
    <h1 class="leading-tight salt sm:text-8xl">hey, i'm</h1>
    <h1 class="leading-tight sm:text-8xl">
      J<span class="salt">a</span><span class="swash">y</span>e!
    </h1>
    <div class="text-xl pt-10 sm:w-3/5 text-center">
      Testing out Tailwind CSS. Enjoying it so far! Excited to see what I can do with it.
    </div>
  </div>
</div>