---
title: Jaye Hernandez
layout: layouts/base.njk
---
<img src="assets/plant-1.png" class="fixed top-0 left-0 hidden lg:block">
<img src="assets/plant-2.png" class="fixed top-0 right-0 hidden lg:block">
<div class="flex flex-col justify-center px-6 mx-auto container-inner">
  <div class="flex flex-col items-center justify-center h-screen text-center">
    <div>
      <h1 class="leading-none salt sm:text-8xl">hey, i'm</h1>
      <h1 class="leading-none sm:text-8xl">
        J<span class="salt">a</span><span class="swash">y</span>e!
      </h1>
    </div>
    <div class="mt-16 mb-5 text-xl lg:w-2/3">
      <b>I'm a full stack developer from the Philippines!</b> Grab a cup of coffee and read on.
    </div>
    <button class="px-4 py-2 transition duration-700 ease-in-out border-2 border-gray-400 rounded-md hover:bg-gray-400">
      Get in Touch
    </button>
  </div>

  <div class="flex flex-col justify-center flex-1 my-10 lg:mx-32">
    <div class="flex flex-1">
      <div class="flex-1 mx-2 mb-12 border border-t-0 border-l-0 border-r-0 border-gray-400 border-b-1"></div>
      <h2 class="text-center salt">about</h2>
      <div class="flex-1 mx-2 mb-12 border border-t-0 border-l-0 border-r-0 border-gray-400 border-b-1"></div>
    </div>
    <div class="flex flex-col items-center flex-1 lg:flex-row">
      <div class="p-3 md:w-1/2 lg:w-2/5 lg:order-last">
        <img src="assets/me.png">
      </div>
      <div class="p-3 lg:w-3/5">
        <p class="mb-5">Hey, I'm Jaye! I like experimenting with new technologies, building small projects, and occassionally joining hackathons.

        <p class="mb-5">After graduating with a degree in BS Computer Science at UP Diliman, I joined <b>BeautyMNL</b> where I build new projects everyday I need to make this longer.</p>

        <p class="mb-5">In my spare time, you'll find me <b>editing photos</b> from a trip or listening to a musical non-stop.</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center flex-1 py-3 lg:p-16">
    <div class="flex flex-1">
      <h2 class="flex-start">pro<span class="swash">j</span>ects</h2>
      <div class="flex-1 mb-12 ml-2 border border-t-0 border-l-0 border-r-0 border-gray-400 border-b-1"></div>
    </div>
    <div class="flex flex-col items-center justify-center my-6 lg:flex-row">
      <div class="lg:w-1/2">
        <img src="assets/letra.png">
      </div>
      <div class="lg:w-1/2">
        <h3 class="mt-6 leading-none tracking-widest uppercase lg:ml-5 lg:mt-0">Letra</h3>
        <div class="p-5 mt-4 mb-6 bg-gray-200 rounded-xl lg:rounded-l-none">
          Passively learn a new language every time you open a new tab. Published on the Chrome Web Store.
        </div>
        <div class="lg:ml-5">
          <span class="px-4 py-2 mr-2 text-xs tracking-widest text-gray-500 uppercase border border-gray-500 rounded-full">
            Vue.JS
          </span>
          <span class="px-4 py-2 mr-2 text-xs tracking-widest text-gray-500 uppercase border border-gray-500 rounded-full">
            Node.JS
          </span>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center flex-1 my-12 lg:flex-row lg:my-6">
      <div class="lg:w-1/2 lg:order-last">
        <img src="assets/letra.png" class="rounded-tr-xl rounded-bl-xl">
      </div>
      <div class="lg:w-1/2">
        <h3 class="mt-3 mt-6 leading-none tracking-widest uppercase lg:mt-0">Letra</h3>
        <div class="p-5 mt-4 mb-6 bg-gray-200 rounded-xl lg:rounded-r-none">
          Passively learn a new language every time you open a new tab. Published on the Chrome Web Store.
        </div>
        <div class="">
          <span class="px-4 py-2 mr-2 text-xs tracking-widest text-gray-500 uppercase border border-gray-500 rounded-full">
            Angular JS
          </span>
          <span class="px-4 py-2 mr-2 text-xs tracking-widest text-gray-500 uppercase border border-gray-500 rounded-full">
            Node.JS
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center flex-1 my-10 lg:mx-48">
    <div class="flex flex-1">
      <div class="flex-1 mb-12 mr-2 border border-t-0 border-l-0 border-r-0 border-gray-400 border-b-1"></div>
      <h2 class="self-end">blo<span class="swash">g</span></h2>
    </div>
    {% for post in devto.posts %}
      <div class="my-6">
        <a class="text-xl font-bold text-gray-600 transition duration-700 ease-in-out hover:bg-gray-300 " href="{{ post.url }}">{{ post.title }}</a>
        <div class="my-2">
          {{ post.description }}
        </div>
        <div class="flex items-center text-gray-500">
          {% include "icons/numbers.njk" %}
          {{ post.page_views_count }} views
          {% include "icons/heart.njk" %}
          {{ post.positive_reactions_count }} reactions
          {% include "icons/comment.njk" %}
          {{ post.comments_count }} comments
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="flex-1 p-10 my-16 text-center bg-gray-300 rounded-tl-xl rounded-br-xl lg:mx-32">
    <h2 class="salt">contact</h2>
    <p class="mb-8">Open to anything under the sun. I'll try to answer as soon as I can! Open to anything under the sun. I'll try to answer as soon as I can!</p>
    <p class="mb-8">Open to anything under the sun. I'll try to answer as soon as I can! Open to anything under the sun. I'll try to answer as soon as I can!</p>
    <button class="px-4 py-2 transition duration-700 ease-in-out border-2 border-gray-400 rounded-md hover:bg-gray-400">
      Get in Touch
    </button>
  </div>

  <div class="flex flex-col self-center my-8">
    <div class="flex justify-between px-8 mb-4">
      <a href="https://twitter.com/jayehernandez_">
        {% include "icons/twitter.njk" %}
      </a>
      <img src="assets/icons/linkedin.svg">
      <img src="assets/icons/github.svg">
      <img src="assets/icons/instagram.svg">
    </div>
    Made with 💖 by Jaye Hernandez
  </div>
</div>
