---
title: Jaye Hernandez
layout: layouts/base.njk
---
<div class="flex flex-col items-center justify-between min-h-screen">
  <div class="flex flex-col items-center mt-12 lg:flex-row container-inner">
    <div class="p-4 md:w-1/2 lg:w-2/5">
      <img src="/assets/me.png" alt="A pic of me!" class="rounded-tl-xxl rounded-br-xxl">
    </div>
    <div class="p-4 lg:w-3/5">
      <h1 class="mb-3 text-5xl text-teal salt md:text-6xl">
        he<span class="swash">y</span>, i'm J<span class="salt">a</span><span class="swash">y</span>e!
      </h1>
      <p class="mb-5">I like experimenting with new technologies, building small projects, and occassionally joining hackathons.

      <p class="mb-5">After graduating with a degree in BS Computer Science, I joined <a class="link" href="https://beautymnl.com">BeautyMnl</a> as a full stack developer. I created <a class="link" href="https://github.com/jayehernandez/letra-extension">Letra</a>, an open-source project with more than 50 contributors.</p>

      <p>In my spare time, you'll find me <a class="link" href="https://vsco.co/jayehernandez">editing photos</a> from a trip or listening to a musical non-stop. More content in this site, soon!</p>
    </div>
  </div>

  <div class="flex flex-col my-5 space-y-4 text-sm lg:space-y-0 lg:space-x-4 container-inner lg:flex-row">
    {% for post in devto.posts %}
      <a href="{{ post.url }}" class="flex flex-col justify-between p-5 transition duration-700 ease-in-out border-2 border-gray-200 lg:w-1/3 rounded-xl hover:border-teal group">
        <b class="text-gray-600 transition duration-700 ease-in-out group-hover:text-black">{{ post.title }}</b>

        <div class="flex items-center mt-3 text-gray-600 transition duration-700 ease-in-out group-hover:text-teal">
          {% include "icons/numbers.njk" %}
          <span class="ml-1 mr-4">{{ post.page_views_count }} views</span>

          {% include "icons/heart.njk" %}
          <span class="ml-1">{{ post.positive_reactions_count }} likes</span>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="flex flex-col items-center content-end my-5 text-teal">
    <div class="flex mb-2 space-x-3">
      <a href="https://twitter.com/jayehernandez_">{% include "icons/twitter.njk" %}</a>
      <a href="https://linkedin.com/jayehernandez">{% include "icons/linkedin.njk" %}</a>
      <a href="https://github.com/jayehernandez">{% include "icons/github.njk" %}</a>
      <a href="mailto:jaye@jayehernandez.com">{% include "icons/mail.njk" %}</a>
    </div>
    Made with ♥ by Jaye Hernandez
  </div>
</div>
